{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block body %}

<div class="form-div">
    <!-- GENERAL LOGIN FORM -->
    <form id="login" method="POST" action="{{ url_for('auth.login') }}">
        <h1>platform</h1>

        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.user_id(placeholder='User ID') }}
        </div>

        <div class="form-group">
            {{ form.password(placeholder='Password') }}
        </div>

        <div class="form-group">
            {{ form.submit(class='btn blue-hov') }}
        </div>

        {% for categ, msg in get_flashed_messages(with_categories=true) %}
        <div class="flash">
            <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
        </div>
        {% endfor %}
        
        <div class="_8icz"></div>
    </form>
</div>

{# DEBUGGING PURPOSES #}
{% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}