{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}

<div class="form-div">
    <!-- STUDENT SIGN UP FORM -->
    <form id="student-signup" method="POST">
        {{ form.hidden_tag() }}
    </form>
</div>

{% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}