{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}

<div class="form-div">
    <!-- STUDENT SIGN UP FORM -->
    <form id="student-signup" method="POST">
        {{ form.hidden_tag() }}

        <h1>Sign Up Form</h1>
        <div class="form-group">
            {{ form.first_name(placeholder='First Name',class='txt-input')}}
        </div>

        <div class="form-group">
            {{ form.last_name(placeholder='Last Name',class='txt-input')}}
        </div>
        
        <div class="form-group">
            {{ form.reg_number(placeholder='Registration Number',class='txt-input')}}
        </div>

        <div class="form-group">
            {{ form.department(class='txt-input') }}
        </div>

        <div class="form-group">
            {{ form.level(list='levels', class='txt-input', placeholder='Level') }}
            <datalist id="levels">
                <option value="100">
                <option value="200">
                <option value="300">
                <option value="400">
                <option value="500">
            </datalist>
        </div>

        <div class="form-group">
            {{ form.password(placeholder='Password', class='txt-input') }}
        </div>

        <div class="form-group">
            {{ form.password2(placeholder='Confirm Password', class='txt-input') }}
        </div>

        <div class="_8icz"></div>

        <div class="form-group">
            {{ form.submit(class='btn green-hov txt-input') }}
        </div>
    </form>
</div>

{% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}