* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

/* ---------------------- */
/*  */
/* ---------------------- */
fieldset {
    padding: 10px;
}

.form-div {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 28%;
    left: 35%;
}

.txt-input {
    padding: 10px;
    outline: none;
    caret-color: rgb(39, 51, 156);
}

.btn {
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}

.green-hov:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(49, 156, 39);
}

.blue-hov:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 51, 156);
}

._8icz {
    color: #1c1e21;
    line-height: 1.34;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
}

.form-group {
    margin: 13px 0;
}

.close-btn {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 5px;
}
