* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

/* ---------------------- */
/*  */
/* ---------------------- */
fieldset {
  padding: 10px;
}

.form-div {
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  margin-top: 50px;
  width: 30%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.txt-input {
  width: 90%;
  padding: 10px;
  outline: none;
  caret-color: rgb(39, 51, 156);
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
}

.green-hov:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 156, 39);
}

.blue-hov:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 51, 156);
}

._8icz {
  color: #1c1e21;
  line-height: 1.34;
  align-items: center;
  border-bottom: 1px solid #dadde1;
  margin: 20px 16px;
}

.form-group {
  margin: 13px 0;
  display: flex;
}

.close-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 5px;
}

.link-btn {
  padding: 10px 70px;
  margin: auto;
  width: 100%;
}

/* ------------------ */
/* PROFILE STYLING */
/* ------------------ */
.profile-photo img{
  width: 10%;
  /* height: 50%; */
  margin: auto;
  margin-bottom: 20px;
}

.main {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.title {
  color: grey;
  text-align: center;
}

.bio-div {
  width: 60%;
  margin: auto;
}

.col {
  margin: 0 20px 0 0;
}

.flash {
  /* position: absolute;
  top: 0;
  left: 50%; */
  padding: 10px;
  text-align: center;
  font-weight: lighter;
  color: red;
}