{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="main">
    <div class="profile-photo">
        <img src="{{ url_for('static', filename='img/pic.png')}}">
        <h3> >> {{ current_user.reg_number }}</h3>
    </div>

    <div class="_8icz"></div>

    <div class="bio-data">
        <h3 class="title">Biodata</h3>
        <div class="bio-div">
            <!-- STUDENT BIO DATA FORM -->
            <form id="" method="POST">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <div class="col">
                        {{ form.first_name.label }}
                        {{ form.first_name(class='txt-input', readonly='readonly')}}
                    </div>
                    <div class="col">
                        {{ form.last_name.label }}
                        {{ form.last_name(class='txt-input', readonly='readonly')}}
                    </div>
                </div>
                
                <div class="form-group">
                    {{ form.reg_number.label }}
                    {{ form.reg_number(placeholder='Registration Number',class='txt-input')}}
                </div>
        
                <div class="form-group">
                    {{ form.department(list='departments', class='txt-input', placeholder='Department') }}
                    <datalist id="departments">
                        <option value="100">
                        <option value="200">
                        <option value="300">
                        <option value="400">
                        <option value="500">
                    </datalist>
                </div>
        
                <div class="form-group">
                    {{ form.level(list='levels', class='txt-input', placeholder='Level') }}
                    <datalist id="levels">
                        <option value="100">
                        <option value="200">
                        <option value="300">
                        <option value="400">
                        <option value="500">
                    </datalist>
                </div>
        
                <div class="_8icz"></div>
        
                <div class="form-group">
                    {{ form.submit(class='btn green-hov txt-input') }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}