{% extends "base.html" %}

{% block title %}Manage Admins{% endblock %}

{% block body %}

<div class="main">
{% if current_user.acc_role == 'super' %}

    <form action="{{ url_for('super.manage_admins') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <table>
            <thead>
                <tr>
                    <th>Admin ID</th>
                    <th>Name</th>
                    <th>Creation Date</th>
                    <th>Active Status</th>
                </tr>
            </thead>
            
            <tbody>
                {% for admin in admins %}
                <tr>
                    <td>{{ admin.user_id }}</td>
                    <td>{{ admin.first_name }} {{ admin.middle_name }} {{ admin.last_name }}</td>
                    <td>{{ admin.creation_date }}</td>

                    <td>
                        {% if admin.active_status %}
                        <input type="checkbox" name="activated" value="{{admin.user_id}}" checked>
                        {% else %}
                        <input type="checkbox" name="activated" value="{{admin.user_id}}">
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Apply Changes" class="green-hov">
    </form>

    {% for categ, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
    </div>
    {% endfor %}
    
{% endif %}

    <a class="link-btn" href="{{ url_for('super.home') }}">⬅ Go back</a>
</div>

{% endblock %}